$bg-action = #f3b114

.button
	border-radius 0.3em
	padding 1em 1.3em 1.1em
	background-color $color-main
	cursor pointer
	border none
	display inline-block
	text-decoration none
	color #fff
	text-align center
	transition all 0.2s linear

	&:hover
		color #fff
		background-color lighten($color-main, 5%)

	&_action
		background-color $bg-action
		font-size 12px
		text-transform uppercase
		padding 1.1em 3em 1.15em

		&:hover
			color $base-fc
			background-color #f3cc14

	&_long
		padding-left: 5em
		padding-right 5em

	&_link
		padding 1.1em 3em 1.15em
		background-color transparent
		border 2px solid $bg-action
		color $base-fc
		text-transform: uppercase
		font-size 12px
		&:hover
			color $base-fc
			background-color #f3cc14
			border-color #f3cc14
