extend ../layouts/main

block content
	.page
		section.section.section_intro
			header.header
				.container
					.header__container
						.header__item
							.logo
						.header__item.h-align_right
							.button Получить консультацию
							.phone.h-display_inline-block.h-ml_30
								.phone__icon
								.phone__number
									.phone__number-prefix +7(343)
									.phone__number-main 202-04-90

			.intro
				h1.intro__title Электрощиты
				.intro__line
				.intro__desc
					|С гарантией&nbsp;
					span.h-color_yellow 5 лет

			.intro-tile
				.container
					.row
						.col_4
							.intro-tile__item.intro-tile__item_prod
								.intro-tile__item-icon.intro-tile__item-icon_prod
								.intro-tile__item-text Для производственных помещений
						.col_4
							.intro-tile__item.intro-tile__item_home
								.intro-tile__item-icon.intro-tile__item-icon_home
								.intro-tile__item-text Для частного дома
						.col_4
							.intro-tile__item.intro-tile__item_public
								.intro-tile__item-icon.intro-tile__item-icon_public
								.intro-tile__item-text Для общественных помещений

		section.section.section_icon-title.section_icon-title-ground-1
			.container
				h2.section__title.h-mb_60
					|Выбирая нас,&nbsp;
					span.h-color_blue.h-text_bold-mag  вы получаете:

				.row
					.col_6
						.pic-present
							.pic-present__flag.pic-present__flag_top
							.pic-present__flag.pic-present__flag_bot
							img.pic-present__img(src='./assets/images/pic-present-1.jpg')
					.col_6
						include ../partials/list-icon.pug

		section.section.section_bg-order.h-color_white
			.section__scroll-bot
				.icon.icon_mouse
			.container
				include ../partials/form-order
				h4.h-align_center Только при заказе с сайта: демонтаж старого щита в подарок!
block popup
