extend ../layouts/main

block content
	.page
		section.section.section_intro
			header.header
				.container
					.header__container
						.header__item
							.logo
						.header__item.h-align_right
							.button Получить консультацию
							.phone.h-display_inline-block.h-ml_30
								.phone__icon
								.phone__number
									.phone__number-prefix +7(343)
									.phone__number-main 202-04-90

			.intro
				h1.intro__title Электрощиты
				.intro__line
				.intro__desc
					|С гарантией&nbsp;
					span.h-color_yellow 5 лет

			.intro-tile
				.container
					.row
						.col_4
							.intro-tile__item.intro-tile__item_prod
								.intro-tile__item-icon.intro-tile__item-icon_prod
								.intro-tile__item-text Для производственных помещений
						.col_4
							.intro-tile__item.intro-tile__item_home
								.intro-tile__item-icon.intro-tile__item-icon_home
								.intro-tile__item-text Для частного дома
						.col_4
							.intro-tile__item.intro-tile__item_public
								.intro-tile__item-icon.intro-tile__item-icon_public
								.intro-tile__item-text Для общественных помещений

		section.section.section_icon-title.section_icon-title-ground-1
			.container
				.section__title-wrap
					h2.section__title
						|Выбирая нас,&nbsp;
						span.h-color_blue.h-text_bold-mag  вы получаете:

				.row
					.col_6
						.pic-present
							.pic-present__flag.pic-present__flag_top
							.pic-present__flag.pic-present__flag_bot
							img.pic-present__img(src='./assets/images/pic-present-1.jpg')
					.col_6
						include ../partials/list-icon.pug

		section.section.section_bg-order.h-color_white
			.section__scroll-bot
				.icon.icon_mouse
			.container
				include ../partials/form-order
				h4.h-align_center Только при заказе с сайта: демонтаж старого щита в подарок!

		section.section.section_icon-title.section_icon-title-ground-2
			.container
				.section__title-wrap
					h2.section__title Изготовим любые щиты
					p.section__title-desc Типовые и на заказ
			.container.h-pl_0
				.tabs.js-tabs
					ul.tabs__control
						each val,i in ['ВРУ', 'АВР', 'ШР','ЯУО','ШУ','ШК']
							li.tabs__control-item.js-tabs__control(class=(i==0 ? "active":""), data-tab=i)
								span.tabs__control-item-text=val

					.tabs__content
						each val,i in ['Вводно-распределительное устройство', 'АВР', 'ШР','ЯУО','ШУ','ШК']
							.tabs__content-item.js-tabs__content(class=(i==0 ? "active":""),data-tab=i)
								if i==1
									img.tabs__content-img(src='assets/images/pic-present-1.jpg')
								else
									img.tabs__content-img(src='assets/images/img-vru.png')
								h3.tabs__content-title=val

								div.tabs__content-scroll-block-wrapper.js-custom-scroll.scrollbar-outer
									.tabs__content-scroll-block-desc
										each i in [1,2]
											p
												|ВРУ — устройство (электрощит), предназначенное для приёма,
												| распределения, резервирования и учёта электрической энергии,
												| устанавливаемое в жилых и общественных зданиях, а также промышленных
												| производственных помещениях.

								.tabs__content-call
									.tabs__content-call-icon
										.icon.icon_wire
									.tabs__content-call-text
										|Закажите ВРУ сейчас и получите демонтаж старого оборудования и установку нового в подарок!
			.container.h-align_center.h-mt_30
				.button.button_action.button_long Заказать щит

		section.section.section_bg-off
			.section__scroll-bot
				.icon.icon_mouse

			.container
				.section__title-wrap
					h2.section__title Наши работы

				include ../partials/carousels

		section.section.section_bg-call.h-color_white
			.container
				.section__title-wrap
					h2.section__title Есть вопросы? Звоните

				include ../partials/form-call
		section.section
			.container
				.section__title-wrap.section__title-wrap_min
					h2.section__title Текстовый заголовок для продвижения
				.row
					.col_10.shift_1
						p.h-mb_40 ВРУ — устройство (электрощит), предназначенное для приёма, распределения, резервирования и учёта электрической энергии, устанавливаемое в жилых и общественных зданиях, а также промышленных производственных помещениях.

						div.h-align_center
							a.button.button_link(href="#") Подробнее

		include ../partials/footer




block popup
