*, *:before, *:after
	box-sizing: border-box
html
body
	height 100%
	width 100%
	font-family $base-ff
	font-size $base-fs
	color $base-fc

body
	-webkit-font-smoothing antialiased

a
	color $color-second

	&:hover
		text-decoration: none

p
	margin-bottom 20px
	line-height $base-lh

h1
	font-size $fsH1
	font-family: $magistralbold
	line-height: 1.3
h2
	font-size $fsH2
	font-family: $magistral
	line-height: 1.4
h3
	font-size $fsH3
	font-family: $magistralbold
	line-height: 1.5
h4
	font-size $fsH4
	font-family: $magistralbold
	line-height: 1.6

li

	/*&:before
		content ''
		position absolute
		width 5px
		height 5px
		background-color $color-second
		top 9px
		left 0
		border-radius 50%*/

b, strong
	font-family $base-ff-bold
