@font-face {
    font-family: 'magistral_regular';
    src: url('../fonts/magistral/magistral.eot');
    src: url('../fonts/magistral/magistral.eot?#iefix') format('embedded-opentype'),
         url('../fonts/magistral/magistral.woff') format('woff'),
         url('../fonts/magistral/magistral.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'magistral_bold';
    src: url('../fonts/magistral/magistral_bold.eot');
    src: url('../fonts/magistral/magistral_bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/magistral/magistral_bold.woff') format('woff'),
         url('../fonts/magistral/magistral_bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'magistral_black';
    src: url('../fonts/magistral/magistral_black.eot');
    src: url('../fonts/magistral/magistral_black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/magistral/magistral_black.woff') format('woff'),
         url('../fonts/magistral/magistral_black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/OpenSansRegular/OpenSansRegular.eot');
    src: url('../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSansRegular/OpenSansRegular.woff') format('woff'),
         url('../fonts/OpenSansRegular/OpenSansRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/OpenSansBold/OpenSansBold.eot');
    src: url('../fonts/OpenSansBold/OpenSansBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSansBold/OpenSansBold.woff') format('woff'),
         url('../fonts/OpenSansBold/OpenSansBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
