$opensans       = "OpenSansRegular", Arial, Helvetica, sans-serif;
$opensansbold   = "OpenSansBold", Arial, Helvetica, sans-serif;

$magistral       = "magistral_regular", Arial, Helvetica, sans-serif;
$magistralbold       = "magistral_bold", Arial, Helvetica, sans-serif;
$magistralblack       = "magistral_black", Arial, Helvetica, sans-serif;

$base-ff = $opensans
$base-ff-bold = $opensansbold

$base-fs = 14px
$base-fc = #333
$base-lh = 2.1

$color-main = #0185a7
$color-second = #f3b114
$color-second-hover = #f3cc14

$color-blue = #0185a7
$color-main-dark = #005f90
$color-red = #ed1c24
$color-green = #00993b
$color-yellow = #ffe400
$color-orange = #f3b114
$color-grey = #6d6f72
$color-grey-light = lighten($color-grey, 60%)




$color-link = $color-second
$color-link-hover = $color-second

$input-bg = #2c2c2c
$input-border = $color-second
$input-border-error = $color-red
$input-error = $color-red
$input-color = #fff
//Font size

$fsH0 = 48px
$fsH1 = 36px
$fsH2 = 36px
$fsH3 = 24px
$fsH4 = 16px
$fsH5 = 12px

//color-menu

//z-index
