header.header
    .container
        .header__container
            .header__item
                a(href="/").logo
            .header__item.h-align_right
                a.button.js-popup-open(href="#popup-form-order-1") Получить консультацию
                .phone.h-display_inline-block.h-ml_30
                    .phone__icon
                    .phone__number
                        .phone__number-prefix +7 (343)
                        .phone__number-main 202-04-90
