.section
    width 100%
    background-size cover
    background-position center
    background-repeat: no-repeat
    position relative
    padding 80px 0

    &_intro
        background-image url(../images/banner-main.png)
        min-height 700px

    &_intro-inner
        background-image url(../images/banner-inner.png)
        min-height 300px
        padding 150px 0 40px
    &_intro-error
        background-image url(../images/banner-404.png)
        height auto
        min-height: 100%
        padding 100px 0 100px
        flex-center()

    &_bg-order
        background-image url(../images/banner-order.png)
    &_bg-call
        background-image url(../images/banner-call.png)
    &_bg-off
        background-image url(../images/banner-off.png)
        background-position: top
        background-size: 100%

    &_icon-title
        padding-top 85px
        &:before
            content ""
            position absolute
            height 72px
            width 40px
            pos-center-w()
            top 0
            background-position: center top
            background-repeat: no-repeat
            z-index: -1

        &-ground-1
            &:before
                background-image url(../images/section-icon-ground-1.png)
        &-ground-2
            &:before
                background-image url(../images/section-icon-ground-2.png)

    &__title-wrap
        text-align: center
        margin-bottom: 60px
        &_min
            margin-bottom 30px

    &__title
        font-size: $fsH2
        font-family: $magistral

    &__title-desc
        text-align: center
        font-size: $fsH4
        color $color-main

    &__scroll-bot
        position: absolute
        pos-center-w()
        flex-center()
        top -50px
        width 80px
        height 80px
        border-radius 50%
        background-color: #fff
        cursor: pointer
        & .icon
            opacity: 0.7
            transition: all 0.3s
        &:hover
            & .icon
                opacity: 1
        &_below
            top -20px

    &__form-wrapper
        display flex
        align-items: flex-start
        justify-content: center

    &__main-title
        color #fff
        font-size: $fsH1
        font-family: $magistralbold
