.list-icon
    list-style: none
    &__item
        margin-bottom 30px
        font-size: $fsH4
        line-height: $base-lh
        padding-left: 90px
        padding-top: 7px;
        list-style: none

    &__item-icon
        position: absolute
        left 27.5px
        top 0
