doctype html
html
	include ../partials/head
	body
		.wrapper
			.wrapper__page
				block content
				include ../partials/footer

			.wrapper__popups
				include ../partials/popup-form-order-1
				include ../partials/popup-message-succes
				block popup

		block script
		script(src='./assets/js/main.js')
