.popup
    width 100%
    margin 50px auto
    position: relative
    &__title-block
        text-align: center
        position: relative
        padding 50px 0 0
        margin 0 0 50px
        font-family: $magistral

    &__title-text
        font-size: $fsH2

    &__content
        padding 0 60px

    &__content-bottom
        padding 0 60px 40px

    &__close
        position: absolute
        &:after, &:before
            content ''
            position: absolute
            top 50%
            left 50%
            width 18px
            height 2px
            background: #fff
        &:after
            transform translate(-50%, -50%) rotate(45deg)
        &:before
            transform translate(-50%, -50%) rotate(135deg)

    &_form
        max-width: 450px
        color #fff
        background-color #005f90

        & ^[0]__title-block
            background-color #004467
            &:after, &:before
                content ''
                position: absolute
                width 50%
                height 40px
                bottom -40px
                background-color #004467
            &:after
                right 0
                border-radius: 0 0 100% 0
            &:before
                left 0
                border-radius: 0 0 0 100%

        & ^[0]__close
            width 60px
            height @width
            background-color $color-second
            top -30px
            pos-center-w()
            z-index: 1
            border-radius: 3px
            cursor pointer
            &:hover
                background-color $color-second-hover
